.form h3 {
  margin-bottom: 30px;
}
.header {
  background: black;
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/
}

.progress-overlay {
  position: absolute;
  text-align: center;
}
.result,
.results {
  display: none;
}

.result {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-header {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: auto;
  float: none;
  text-align: center;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

#name-label {
  margin-top: 5px;
  text-align: center;
}

.item label {
  margin-top: 0px;
}

#carousel {
  border-radius: 10px;
  background-color: #F2F2F2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom:40px;

}
